# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/
build_release/build_release_julia
thetis.zip
julia-1.4.2
julia-1.4.2-linux-x86_64.tar.gz
Manifest.toml
Project.toml
build_release
build_release_julia
build_release_windows
